<%
  const successMessages = typeof success !== "undefined" ? success : [];
  const errorMessages = typeof error !== "undefined" ? error : [];
%>

<%  if(successMessages && successMessages.length){   %>
<div class="alert alert-success alert-dismissible fade show col-6 offset-3" role="alert"> <%= successMessages %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>


<!-- boostrap use btn alert btn diss miss and dismissible fade show -->


  <!-- failure flash  -->

  <%  if(errorMessages && errorMessages.length){   %>
<div class="alert alert-danger alert-dismissible fade show col-6 offset-3" role="alert"> <%= errorMessages %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>
